ul.sf-menu.sf-style-white a,
ul.sf-menu.sf-style-white a:visited,
ul.sf-menu.sf-style-white span.nolink {
  border: 0 none;
  color: #2B7E21;
  padding: 0.75em 1em;
}
ul.sf-menu.sf-style-white span.sf-description {
  color: #aaa;
  display: block;
  font-size: smaller;
  line-height: 1.5;
  margin: 0.25em 0 0 0;
  padding: 0;
}
ul.sf-menu.sf-style-white li,
ul.sf-menu.sf-style-white.sf-navbar {
  background: rgba(255, 255, 255, 0.7);
}
ul.sf-menu.sf-style-white li li,
ul.sf-menu.sf-style-white.sf-navbar > li > ul {
  background: rgba(255, 255, 255, 0.7);
}
ul.sf-menu.sf-style-white li li li {
  background: rgba(255, 255, 255, 0.7);
}
ul.sf-menu.sf-style-white li:hover,
ul.sf-menu.sf-style-white li.sfHover,
ul.sf-menu.sf-style-white a.is-active,
ul.sf-menu.sf-style-white a:focus,
ul.sf-menu.sf-style-white a:hover,
ul.sf-menu.sf-style-white span.nolink:hover {
  background: rgba(255, 255, 255, 0.7);
  outline: 0;
}
.sf-menu.sf-style-white.sf-navbar li ul {
  background: rgba(255, 255, 255, 0.7);
}
.sf-menu.sf-style-white.sf-navbar li ul li ul {
  background: rgba(255, 255, 255, 0.7);
}
div.sf-accordion-toggle.sf-style-white a {
  background: rgba(255, 255, 255, 0.7);
  border: none;
  color: #2B7E21;
  display: inline-block;
  font-weight: bold;
  padding: 1em 3em 1em 1em;
  position: relative;
}
div.sf-accordion-toggle.sf-style-white a.sf-expanded,
ul.sf-menu.sf-style-white.sf-accordion li.sf-expanded {
  background: rgba(255, 255, 255, 0.7);
}